<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta charset="{{site.encoding}}">
    <link rel="stylesheet" href="/styles/theme_styles.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon">

    <script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <title>{{site.title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-default navvar-static-top">
        <div class="container">
            <div class="navbar-header" id="logo">
                <a class="navbar-brand" href="{{site.url}}">
                    <span class="logo1">gogo</span><span class="logo2">2</span>
                </a>
            </div>
        </div>
    </nav>
</header>


