---
---

@import "reset";
@import "bootstrap";
@import "theme_variables";
@import "theme_bootstrap_overwrite";


#logo {
  font-family: $logo_font;

  .logo1 {
    color: $logo-color_1;
  }
  .logo2 {
    color: $logo-color_2;
  }
}